### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_count = len(purchase_data["SN"].value_counts())
total_player = pd.DataFrame({"Total Players" : [total_count]})
total_player

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# number of unique items
unique_item = purchase_data["Item Name"].nunique()
unique_item

179

In [4]:
# average price
average_price = round(purchase_data["Price"].mean(), 2)
average_price

3.05

In [5]:
# number of purchases
total_purchase = len(purchase_data["Purchase ID"].value_counts())
total_purchase

780

In [6]:
# total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
# create a new DataFrame object 
purchasing_analysis = pd.DataFrame({
"Number of Unique Items" : unique_item,
"Average Price" : average_price,
"Number of Purchases" : total_purchase,
"Total Revenue" : [total_revenue]
})

# format Average Price and Total Revenue
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("{:,}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [99]:
# count players by gender
total_gender = purchase_data["SN"].nunique()
male = purchase_data.loc[purchase_data["Gender"] == "Male", "SN"].nunique()
female = purchase_data.loc[purchase_data["Gender"] == "Female", "SN"].nunique()
non_gender_specific = total_gender - male - female
print(f" Total: {total_gender}\n Male: {male}\n Female: {female}\n non_specfic: {non_gender_specific}")

 Total: 576
 Male: 484
 Female: 81
 non_specfic: 11

In [100]:
# Calculate percentage of players by gender
male_percent = round(((male/total_gender) * 100),2)
female_percent = round(((female/total_gender) * 100),2)
non_gender_specific_percent = round(((non_gender_specific/total_gender) * 100),2)
print(
    f" % Male: {male_percent}\n % Female: {female_percent}\n % non_specifc: {non_gender_specific}")

 % Male: 84.03
 % Female: 14.06
 % non_specifc: 11

In [106]:
# create a new DataFrame object 
gender_data= {
"Total Count" : [male, female, non_gender_specific],
"Percentage of Players" : [male_percent, female_percent, non_gender_specific_percent]
}

Gender_demographics = pd.DataFrame(gender_data, columns = ["Total Count" , "Percentage of Players"], index=["Male","Female","Other / Non-Disclosed"])

# format "Percentage of Players"
Gender_demographics["Percentage of Players"] = Gender_demographics["Percentage of Players"].map("{0:,.2f}%".format)

Gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [102]:
purchase_data.loc[purchase_data["Gender"] == "Male" , "Price"].mean()

3.0178527607361953

In [103]:
# Calculate total purchase value by gender
total_purchase = purchase_data["Price"].sum()
male_total = purchase_data.loc[purchase_data["Gender"] == "Male" , "Price"].sum()
female_total = purchase_data.loc[purchase_data["Gender"] == "Female" , "Price"].sum()
non_gender_specific_total = total_purchase - male_total - female_total
print(f" Total: {total_purchase}\n Male: {male_total}\n Female: {female_total}\n non_specfic: {non_gender_specific_total}")

 Total: 2379.77
 Male: 1967.64
 Female: 361.94
 non_specfic: 50.189999999999884

In [104]:
# Calculate Male Average Purchase Price
male_average_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Male" , "Price"].mean()

# Calculate Female Average Purchase Price
female_average_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Female" , "Price"].mean()

# Calculate Non Gender Specific Average Purchase Price
non_gender_average_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed" , "Price"].mean()

In [105]:
# create a new DataFrame object 
gender_data= {
"Purchase Count" : [male, female, non_gender_specific],
"Average Purchase Price" : [male_average_purchase_price, female_average_purchase_price, non_gender_average_purchase_price],
"Total Purchase Value" : [male_total, female_total, non_gender_specific_total],
"Avg Total Purchase per Person" : [male, female, non_gender_specific]
}

purchasing_analysis_gender = pd.DataFrame(gender_data, columns = ["Purchase Count" , "Average Purchase Price" , "Total Purchase Value" , "Avg Total Purchase per Person"], index=["Male","Female","Other / Non-Disclosed"])

# format "Total Purchase Value", "Total Purchase Value"
purchasing_analysis_gender["Total Purchase Value"] = purchasing_analysis_gender["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_gender["Average Purchase Price"] = purchasing_analysis_gender["Average Purchase Price"].map("${:,.2f}".format)

purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,484,$3.02,"$1,967.64",484
Female,81,$3.20,$361.94,81
Other / Non-Disclosed,11,$3.35,$50.19,11

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame